html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.5) 100%);
}